* {
    box-sizing: border-box;
}

.container {
    width: 700px;
}

dx-cell {
    display: block;
    float: left;

    width: 150px;

    border: 1px solid green;
}

dx-row {
    display: block;

    border: 1px solid red;
}
dx-row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
dx-row.dx-group-row {
    display: block;

    border: 1px solid red;
    background-color: #fcc;
    font-weight: bold;
}

dx-body {
    display: block;
    border: 3px solid blue;
}

dx-header {
    display: block;
    border: 3px solid magenta;
}

dx-grid {
    display: block;

    border: 1px dashed black;
}

dx-pager {
    display: block;

    border: 1px dashed rebeccapurple;
}

dx-page {
    display: inline-block;
    padding: 5px;

    border: 1px dashed gray;
}

dx-page[active='true'] {
    border-style: solid;
    background-color: #cfc;
}

dx-grouper {
    display: block;

    border: 1px dashed rebeccapurple;
}
