* {
    box-sizing: border-box;
}
.virtual-table, table {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.virtual-cell, td {
    border-right: 1px solid gray; 
    border-bottom: 1px solid gray;
}

.virtual-cell {
    display: flex;
    align-items: center;
}